.detail-specialty-container {

    .description-specialty {
        // height: 200px;
        padding: 20px 100px;
    }

   

    .detail-specialty-body {
        padding: 0 100px;
        background-color: #eeeeee;

        .search-sp-doctor {
            padding-top: 15px;

            select {
                padding: 5px 8px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
                border: none;
                outline: none;
                word-wrap: normal;
                height: 30px;
                cursor: pointer;
            }
        }
    }

    .each-doctor {
        display: flex;
        width: 100%;
        min-height: 300px;
        margin: 30px 0;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
        border-radius: 8px;
        border-bottom: none;

        .dt-content-left {
            width: 50%;
            border-right: 1px solid #ddd;
            padding-right: 20px;
        }

        .dt-content-right {
            width: 50%;
            // border: 1px solid orange;
            padding: 10px;

            .doctor-schedule {

                .doctor-schedule-container {
                    border-right: unset !important;
                }
            }

            .doctor-extra-info {
                border-top: 1px solid #ddd;
                margin-top: 10px;
                padding-top: 10px;

                .doctor-extra-info-container {
                    padding-left: 0 !important;
                }
            }
        }
    }
}