//reset slick slider css
// .slick-list {
//     padding-bottom: 4% !important;
// }

.slick-prev {
    // position: relative !important;
    left: -25px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    top: 35%;

    @media (max-width: 768px) {
        height: 24px !important;
        width: 22px !important;
        top: 20%;
        left: -5px !important;
    }
    &:hover {
        background: #fcf4f4 !important;
    }
}

.slick-prev:before, 
.slick-next:before {
    font-family: FontAwesome !important;
    color: black !important;
}

.slick-next {
    right: -20px;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    top: 35%;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    @media (max-width: 768px) {
        height: 24px !important;
        width: 22px !important;
        top: 20%;
        right: -5px !important;
    }

    &:hover {
        background: #fcf4f4 !important;
    }
}

.slick-disabled {
    display: none !important;
}

.section-share {

    &.section-specialty {
        background: #f5f5f5;
        padding-bottom: 2%;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        height: 100% !important;
    }

    .section-body {

        .section-customize {
            font-size: calc(0.45rem + 0.5vw);
            // &.section-outstanding-doctor {
            //     border: 1px solid red;
            // }
        
            .bg-image {

               &.section-specialty {
                    // background-image: url('../../assets/specialty/co-xuong-khop.jpg'); 
               };

               &.section-medical-facility {
                    // background-image: url('../../assets/medical-facility/benh-vien-thu-cuc.jpg'); 
               }

               &.section-outstanding-doctor {
                    // background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;

                    @media (max-width: 768px) {
                        height: 75px;
                    }
               }

               background-position: center center;
               background-repeat: no-repeat;
               background-size: 100% 100%;
               background-color: #eee;
               height: 25vh;
               width: 20vw;

               @media (max-width: 768px) {
                height: 16vh;
                width: 23vw;
               }
            }
        }
    }
}


.section-share {
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
    
    .section-container {
        margin: 0 7vw;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            margin: 0 2vw;
        }
    
        .section-header {
            height: 30%;
            margin-bottom: 2%;
            padding-top: 3%;

            .title-section {
                font-size: calc(0.7rem + 1vw);
                font-weight: 600;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 1% 1%;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;
                font-size: calc(0.5rem + 0.5vw);

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-outstanding-doctor {

    .section-customize{
        padding: 5px;
        cursor: pointer;

        .customize-border {
            border: 1px solid #d7d7d7;
            padding: 5%;

            .outer-bg {
                display: flex;
                justify-content: center;
                margin-bottom: 4%;
            }
        }
    }
}

.home-footer {
    text-align: center;
    background: #f5f5f5;
    padding: 2%;

    a {
        text-decoration: none;
    }
}

.section-about {
    margin: 0 7vw;

    @media (max-width: 768px) {
        margin: 0 2vw;
    }

    .section-about-header {
        padding: 20px 0;
        font-size: calc(0.7rem + 1vw);
        font-weight: 600;
    };

    .section-about-content {
        display: flex;
        gap: 5vw;
        width: 100%;
        height: 100%;
        justify-content: center;

        @media (max-width: 768px) {
            
        }

        // .content-left {
        //     width: 50%;
        // }
        
        // .content-right {
        //     background-image: url('../../assets/about/doctor-booking.jpg');
        //     width: 30%;
        // }
    }

}


